# Handling Flat Files using Pandas

### 1. Read CSV Files [Comma Separated Value]

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.shape

(150, 6)

### 2. Read TSV Files

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('amazon_alexa.tsv', sep='\t')

In [8]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [9]:
df.tail()

,rating,date,variation,verified_reviews,feedback
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [10]:
df.shape

(3150, 5)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3149 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

### 3. Read JSON Files

1. Standard Data interchange file format
2. JSON Stands for Java Script Object Notation
3. Attributes Value Pairs
4. Self Describing
5. Language Independent
6. Key - Value Pairs:
    1. Two Related Elements
    2. Key - Constant
    3. Value - Variable belonging to set

In [12]:
import pandas as pd

In [13]:
df = pd.read_json('sample1.json', typ='series')

In [14]:
df

fruit    Apple
size     Large
color      Red
dtype: object

In [15]:
df = pd.read_json('sample2.json',typ='series')

In [16]:
df

firstName                                                     Joe
lastName                                                  Jackson
gender                                                       male
age                                                            28
address         {'streetAddress': '101', 'city': 'San Diego', ...
phoneNumbers           [{'type': 'home', 'number': '7349282382'}]
dtype: object

### 4. Read HTML Files

In [17]:
import pandas as pd

In [18]:
url = 'https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population'

In [19]:
df_html = pd.read_html(url)

In [20]:
df_html

[    States and union territories of India ordered by
 0  Area Population GDP (per capita) Abbreviations...
 1  .mw-parser-output .navbar{display:inline;font-...,
         Rank                  State or Union Territory Population [18][19]  \
         Rank                  State or Union Territory Population [18][19]
 0     1 (S1)                             Uttar Pradesh           199812341
 1     2 (S2)                               Maharashtra           112374333
 2     3 (S3)                                     Bihar           104099452
 3     4 (S4)                               West Bengal            91276115
 4     5 (S5)                            Madhya Pradesh            72626809
 5     6 (S6)                                Tamil Nadu            72147030
 6     7 (S7)                                 Rajasthan            68548437
 7     8 (S8)                                 Karnataka            61095297
 8     9 (S9)                                   Gujarat            60439692
 9   10 (S10)                            Andhra Pradesh       49,577,103[c]
 10  11 (S11)                                    Odisha            41974219
 11  12 (S12)                                 Telangana            35003674
 12  13 (S13)                                    Kerala            33406061
 13  14 (S14)                                 Jharkhand            32988134
 14  15 (S15)                                     Assam            31205576
 15  16 (S16)                                    Punjab            27743338
 16  17 (S17)                              Chhattisgarh            25545198
 17  18 (S18)                                   Haryana            25351462
 18  19 (UT1)                              NCT of Delhi            16787941
 19  20 (UT2)                         Jammu and Kashmir            12267032
 20  21 (S19)                               Uttarakhand            10086292
 21  22 (S20)                          Himachal Pradesh             6864602
 22  23 (S21)                                   Tripura             3673917
 23  24 (S22)                                 Meghalaya             2966889
 24  25 (S23)                                Manipur[d]             2570390
 25  26 (S24)                                  Nagaland             1978502
 26  27 (S25)                                       Goa             1458545
 27  28 (S26)                         Arunachal Pradesh             1383727
 28  29 (UT3)                                Puducherry             1247953
 29  30 (S27)                                   Mizoram             1097206
 30  31 (UT4)                                Chandigarh             1055450
 31  32 (S28)                                    Sikkim              610577
 32  33 (UT5)  Dadra and Nagar Haveli and Daman and Diu              585764
 33  34 (UT6)               Andaman and Nicobar Islands              380581
 34  35 (UT7)                                    Ladakh              274000
 35  36 (UT8)                               Lakshadweep               64473
 36     Total                                     India          1210569573

    % India Growth (2001-2012) 2023 Population estimate[20] Rural pop.          \
    % India Growth (2001-2012) 2023 Population estimate[20]       Nos.       %
 0      NaN              20.2%                    235687000  155317278     NaN
 1      NaN                16%                    126385000   61556074     NaN
 2      NaN              25.4%               126,756,000[b]   92341436     NaN
 3      NaN              13.8%                     99084000   62183113     NaN
 4      NaN              20.3%                     86579000   52557404     NaN
 5      NaN              15.6%                     76860000   37229590     NaN
 6      NaN              21.3%                     81025000   51500352     NaN
 7      NaN              15.6%                     67692000   37469335     NaN
 8      NaN              19.3%                     71507000   34694609     NaN
 9      NaN              11.0%                     53156000   34966693     NaN
 10     NaN              14.0%                     46276000   34970562     NaN
 11     NaN             13.58%                     38090000   21395009     NaN
 12     NaN               4.9%                     35776000   17471135     NaN
 13     NaN              22.4%                     39466000   25055073     NaN
 14     NaN              17.1%                     35713000   26807034     NaN
 15     NaN             13.89%                     30730000   17344192     NaN
 16     NaN              22.6%                     30180000   19607961     NaN
 17     NaN              19.9%                     30209000   16509359     NaN
 18     NaN              21.2%                     21359000     419042     NaN
 19     NaN              23.6%                     13603000    9064220     NaN
 20     NaN              18.8%                     11637000    7036954     NaN
 21     NaN              12.9%                      7468000    6176050     NaN
 22     NaN              14.8%                      4147000    2712464     NaN
 23     NaN              27.9%                      3349000    2371439     NaN
 24     NaN              24.5%                      3223000    1793875     NaN
 25     NaN              −0.6%                      2233000    1407536     NaN
 26     NaN               8.2%                      1575000     551731     NaN
 27     NaN              26.0%                      1562000    1066358     NaN
 28     NaN              28.1%                      1646000     395200     NaN
 29     NaN              23.5%                      1238000     525435     NaN
 30     NaN              17.2%                      1231000      28991     NaN
 31     NaN              12.9%                       689000     456999     NaN
 32     NaN              55.1%                      1263000     243510     NaN
 33     NaN               6.9%                       403000     237093     NaN
 34     NaN              17.8%                       300000      43840     NaN
 35     NaN               6.3%                        69000      14141     NaN
 36    100%              17.7%                   1388163000  833463448  68.84%

    Urban pop.         Density [clarification needed] [a]  \
          Nos.       % Density [clarification needed] [a]
 0    44495063     NaN                              828.0
 1    50818259     NaN                              365.0
 2    11758016     NaN                             1102.0
 3    29093002     NaN                             1029.0
 4    20069405     NaN                              236.0
 5    34917440     NaN                              555.0
 6    17048085     NaN                              201.0
 7    23625962     NaN                              319.0
 8    25745083     NaN                              308.0
 9    14610410     NaN                              303.0
 10    7003656     NaN                              269.0
 11   13608665     NaN                              312.0
 12   15934926     NaN                              859.0
 13    7933061     NaN                              414.0
 14    4398542     NaN                              398.0
 15   10399146     NaN                              551.0
 16    5937237     NaN                              189.0
 17    8842103     NaN                              573.0
 18   16368899     NaN                            11297.0
 19    3202812     NaN                              297.0
 20    3049338     NaN                              189.0
 21     688552     NaN                              123.0
 22     961453     NaN                              350.0
 23     595450     NaN                              132.0
 24     776515     NaN                              122.0
 25     570966     NaN                              119.0
 26     906814     NaN                              394.0
 27     317369     NaN                               17.0
 28     852753     NaN                             2598.0
 29     571771     NaN                               52.0
 30    1026459     NaN                             9252.0
 31     153578     NaN                               86.0
 32     342254     NaN                              970.0
 33     143488     NaN                               46.0
 34     230160     NaN                                2.8
 35      50332     NaN                             2013.0
 36  377106125  31.16%                              382.0

    Sex ratio [clarification needed]     Seats
    Sex ratio [clarification needed] Lok Sabha      Rajya Sabha
 0                               912        80               31
 1                               929        48               19
 2                               918        40               16
 3                               953        42               17
 4                               931        29               11
 5                               996        39               18
 6                               928        25               10
 7                               973        28               12
 8                               919        26               11
 9                               993        25               11
 10                              979        21               10
 11                              988        17                7
 12                             1084        20                9
 13                              948        14                6
 14                              958        14                7
 15                              895        13                7
 16                              991        11                5
 17                              879        10                5
 18                              868         7                3
 19                              890         5                4
 20                              963         5                3
 21                              972         4                3
 22                              960         2                1
 23                              989         2                1
 24                              992         2                1
 25                              931         1                1
 26                              973         2                1
 27                              938         2                1
 28                             1037         1                1
 29                              976         1                1
 30                              818         1            – [e]
 31                              890         1                1
 32                              711         2            – [f]
 33                              876         1            – [g]
 34                              853         1            – [h]
 35                              946         1            – [i]
 36                              943       543  245 (233+12)[j]  ]

In [21]:
df_html[0]

    States and union territories of India ordered by
0  Area Population GDP (per capita) Abbreviations...
1  .mw-parser-output .navbar{display:inline;font-...

In [22]:
df_html[1]

        Rank                  State or Union Territory Population [18][19]  \
        Rank                  State or Union Territory Population [18][19]
0     1 (S1)                             Uttar Pradesh           199812341
1     2 (S2)                               Maharashtra           112374333
2     3 (S3)                                     Bihar           104099452
3     4 (S4)                               West Bengal            91276115
4     5 (S5)                            Madhya Pradesh            72626809
5     6 (S6)                                Tamil Nadu            72147030
6     7 (S7)                                 Rajasthan            68548437
7     8 (S8)                                 Karnataka            61095297
8     9 (S9)                                   Gujarat            60439692
9   10 (S10)                            Andhra Pradesh       49,577,103[c]
10  11 (S11)                                    Odisha            41974219
11  12 (S12)                                 Telangana            35003674
12  13 (S13)                                    Kerala            33406061
13  14 (S14)                                 Jharkhand            32988134
14  15 (S15)                                     Assam            31205576
15  16 (S16)                                    Punjab            27743338
16  17 (S17)                              Chhattisgarh            25545198
17  18 (S18)                                   Haryana            25351462
18  19 (UT1)                              NCT of Delhi            16787941
19  20 (UT2)                         Jammu and Kashmir            12267032
20  21 (S19)                               Uttarakhand            10086292
21  22 (S20)                          Himachal Pradesh             6864602
22  23 (S21)                                   Tripura             3673917
23  24 (S22)                                 Meghalaya             2966889
24  25 (S23)                                Manipur[d]             2570390
25  26 (S24)                                  Nagaland             1978502
26  27 (S25)                                       Goa             1458545
27  28 (S26)                         Arunachal Pradesh             1383727
28  29 (UT3)                                Puducherry             1247953
29  30 (S27)                                   Mizoram             1097206
30  31 (UT4)                                Chandigarh             1055450
31  32 (S28)                                    Sikkim              610577
32  33 (UT5)  Dadra and Nagar Haveli and Daman and Diu              585764
33  34 (UT6)               Andaman and Nicobar Islands              380581
34  35 (UT7)                                    Ladakh              274000
35  36 (UT8)                               Lakshadweep               64473
36     Total                                     India          1210569573

   % India Growth (2001-2012) 2023 Population estimate[20] Rural pop.          \
   % India Growth (2001-2012) 2023 Population estimate[20]       Nos.       %
0      NaN              20.2%                    235687000  155317278     NaN
1      NaN                16%                    126385000   61556074     NaN
2      NaN              25.4%               126,756,000[b]   92341436     NaN
3      NaN              13.8%                     99084000   62183113     NaN
4      NaN              20.3%                     86579000   52557404     NaN
5      NaN              15.6%                     76860000   37229590     NaN
6      NaN              21.3%                     81025000   51500352     NaN
7      NaN              15.6%                     67692000   37469335     NaN
8      NaN              19.3%                     71507000   34694609     NaN
9      NaN              11.0%                     53156000   34966693     NaN
10     NaN              14.0%                     46276000   34970562     NaN
11     NaN             13.58%                     38090000   21395009     NaN
12     NaN               4.9%                     35776000   17471135     NaN
13     NaN              22.4%                     39466000   25055073     NaN
14     NaN              17.1%                     35713000   26807034     NaN
15     NaN             13.89%                     30730000   17344192     NaN
16     NaN              22.6%                     30180000   19607961     NaN
17     NaN              19.9%                     30209000   16509359     NaN
18     NaN              21.2%                     21359000     419042     NaN
19     NaN              23.6%                     13603000    9064220     NaN
20     NaN              18.8%                     11637000    7036954     NaN
21     NaN              12.9%                      7468000    6176050     NaN
22     NaN              14.8%                      4147000    2712464     NaN
23     NaN              27.9%                      3349000    2371439     NaN
24     NaN              24.5%                      3223000    1793875     NaN
25     NaN              −0.6%                      2233000    1407536     NaN
26     NaN               8.2%                      1575000     551731     NaN
27     NaN              26.0%                      1562000    1066358     NaN
28     NaN              28.1%                      1646000     395200     NaN
29     NaN              23.5%                      1238000     525435     NaN
30     NaN              17.2%                      1231000      28991     NaN
31     NaN              12.9%                       689000     456999     NaN
32     NaN              55.1%                      1263000     243510     NaN
33     NaN               6.9%                       403000     237093     NaN
34     NaN              17.8%                       300000      43840     NaN
35     NaN               6.3%                        69000      14141     NaN
36    100%              17.7%                   1388163000  833463448  68.84%

   Urban pop.         Density [clarification needed] [a]  \
         Nos.       % Density [clarification needed] [a]
0    44495063     NaN                              828.0
1    50818259     NaN                              365.0
2    11758016     NaN                             1102.0
3    29093002     NaN                             1029.0
4    20069405     NaN                              236.0
5    34917440     NaN                              555.0
6    17048085     NaN                              201.0
7    23625962     NaN                              319.0
8    25745083     NaN                              308.0
9    14610410     NaN                              303.0
10    7003656     NaN                              269.0
11   13608665     NaN                              312.0
12   15934926     NaN                              859.0
13    7933061     NaN                              414.0
14    4398542     NaN                              398.0
15   10399146     NaN                              551.0
16    5937237     NaN                              189.0
17    8842103     NaN                              573.0
18   16368899     NaN                            11297.0
19    3202812     NaN                              297.0
20    3049338     NaN                              189.0
21     688552     NaN                              123.0
22     961453     NaN                              350.0
23     595450     NaN                              132.0
24     776515     NaN                              122.0
25     570966     NaN                              119.0
26     906814     NaN                              394.0
27     317369     NaN                               17.0
28     852753     NaN                             2598.0
29     571771     NaN                               52.0
30    1026459     NaN                             9252.0
31     153578     NaN                               86.0
32     342254     NaN                              970.0
33     143488     NaN                               46.0
34     230160     NaN                                2.8
35      50332     NaN                             2013.0
36  377106125  31.16%                              382.0

   Sex ratio [clarification needed]     Seats
   Sex ratio [clarification needed] Lok Sabha      Rajya Sabha
0                               912        80               31
1                               929        48               19
2                               918        40               16
3                               953        42               17
4                               931        29               11
5                               996        39               18
6                               928        25               10
7                               973        28               12
8                               919        26               11
9                               993        25               11
10                              979        21               10
11                              988        17                7
12                             1084        20                9
13                              948        14                6
14                              958        14                7
15                              895        13                7
16                              991        11                5
17                              879        10                5
18                              868         7                3
19                              890         5                4
20                              963         5                3
21                              972         4                3
22                              960         2                1
23                              989         2                1
24                              992         2                1
25                              931         1                1
26                              973         2                1
27                              938         2                1
28                             1037         1                1
29                              976         1                1
30                              818         1            – [e]
31                              890         1                1
32                              711         2            – [f]
33                              876         1            – [g]
34                              853         1            – [h]
35                              946         1            – [i]
36                              943       543  245 (233+12)[j]

In [23]:
# df_1 = pd.DataFrame(df_html)

### 5. How to create Excel File

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('Iris.csv')

In [26]:
df_1 = pd.DataFrame(df)

In [27]:
df_1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [28]:
df_2 = df_1.to_excel('Iris.xlsx')

### 5. Read Data From SQL Database

1. Open Source Database Mangagement System
2. Best for Web Based Software Application
3. Ideal for small and Large Businesses
4. Fast, Reliable, and easy to use
5. Use Standard SQL
6. Compiles on Number Platforms
7. Free to Download and use

In [30]:
import pandas as pd
import mysql.connector as sql

In [33]:
my_db = sql.connect(host = '127.0.0.1', 
                    port = 3308, 
                    user = 'root', 
                    passwd = 'root', 
                    database = 'shopee',
                    auth_plugin = 'mysql_native_password'
                   )

In [34]:
my_query = 'SELECT * FROM CUSTOMERS'

In [35]:
my_data = pd.read_sql(my_query, my_db)

C:\Users\shyam\AppData\Local\Temp\ipykernel_13004\2608008011.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  my_data = pd.read_sql(my_query, my_db)

In [36]:
my_data

,customer_id,customer_name,contact_name,address,city,postal_code,country
0,1,Alfreds Futterkiste,Maria Anders,Obere,Berlin,12209,Germany
1,1,Shyam Ambilkar,Prabhakar Ambilkar,Murtizapur,Akola,444107,India
2,1,Bhushan Ambilkar,Prabhakar Ambilkar,Murtizapur,Akola,444107,India
3,1,Rohan Gandhi,Shyam Ambilkar,Pachora,Jalgaon,444105,India
4,2,Rohan Gandhi,Shyam Ambilkar,Pachora,Jalgaon,444105,India
5,3,Rohan Gandhi,Shyam Ambilkar,Pachora,Jalgaon,444105,India

In [42]:
my_db = sql.connect(host = '127.0.0.1', 
                    port = 3308, 
                    user = 'root', 
                    passwd = 'root', 
                    database = 'shopee',
                    auth_plugin = 'mysql_native_password'
                   )

In [43]:
my_query = 'SELECT * FROM Person'

In [44]:
my_data = pd.read_sql(my_query, my_db)

C:\Users\shyam\AppData\Local\Temp\ipykernel_13004\2608008011.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  my_data = pd.read_sql(my_query, my_db)

In [45]:
my_data

   Person_Id LastName FirstName location      mobile
0          1    KADAM    AMBIKA   NANDED  1234567890

### 6. Reading Data from SAS files - Statistical Analysis

In [46]:
import pandas as pd

In [47]:
df_sas = pd.read_sas('AP_VOTECAST_2018_DATA.sas7bdat')

In [48]:
df_sas.head()

,SU_ID,POLLCLOSE_STATE_WEIGHT,POLLCLOSE_NATIONAL_WEIGHT,FINALVOTE_STATE_WEIGHT,FINALVOTE_NATIONAL_WEIGHT,MODE,P_STATE,STATENUM,LVA,LVB,...,EDUC,INCOME,PARTY,PARTYFULL,IDEO,RELIG,RELIG4,BORNAGAIN,SIZEPLACE,FORMFLAG
0,b'20000058',86.625560,83.562187,57.404245,55.731959,2.0,b'MT',26.0,1.0,5.0,...,2.0,2.0,3.0,3.0,2.0,4.0,1.0,NaN,4.0,2.0
1,b'20000102',231.679211,223.486250,156.736562,178.515058,2.0,b'KS',16.0,1.0,1.0,...,4.0,4.0,3.0,2.0,4.0,1.0,1.0,NaN,3.0,3.0
2,b'20000106',7639.065341,7368.922117,502.237088,484.476284,1.0,b'FL',9.0,1.0,1.0,...,1.0,5.0,1.0,1.0,99.0,7.0,3.0,NaN,3.0,2.0
3,b'20000165',34.959933,33.723631,37.813306,36.958378,2.0,b'MT',26.0,1.0,5.0,...,4.0,3.0,1.0,1.0,1.0,2.0,2.0,NaN,3.0,3.0
4,b'20000191',4.811467,4.641317,3.857918,3.670320,2.0,b'NH',30.0,1.0,1.0,...,4.0,5.0,2.0,2.0,4.0,1.0,1.0,NaN,2.0,4.0

In [49]:
df_sas.shape

(138929, 220)

### 7. Read Data from html Page

In [54]:
import html5lib

In [56]:
# df_html = pd.read_html('dwsample1-html.html')

with open("dwsample1-html.html", "rb") as f:
    document = html5lib.parse(f)

In [57]:
document

# Pandas Read CSV

In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('Iris.csv')

In [61]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [62]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [63]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [60]:
print(df.to_string())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0      1            5.1           3.5            1.4           0.2      Iris-setosa
1      2            4.9           3.0            1.4           0.2      Iris-setosa
2      3            4.7           3.2            1.3           0.2      Iris-setosa
3      4            4.6           3.1            1.5           0.2      Iris-setosa
4      5            5.0           3.6            1.4           0.2      Iris-setosa
5      6            5.4           3.9            1.7           0.4      Iris-setosa
6      7            4.6           3.4            1.4           0.3      Iris-setosa
7      8            5.0           3.4            1.5           0.2      Iris-setosa
8      9            4.4           2.9            1.4           0.2      Iris-setosa
9     10            4.9           3.1            1.5           0.1      Iris-setosa
10    11            5.4           3.7            1.5           0.2      Iris-setosa
11    12            4.8           3.4            1.6           0.2      Iris-setosa
12    13            4.8           3.0            1.4           0.1      Iris-setosa
13    14            4.3           3.0            1.1           0.1      Iris-setosa
14    15            5.8           4.0            1.2           0.2      Iris-setosa
15    16            5.7           4.4            1.5           0.4      Iris-setosa
16    17            5.4           3.9            1.3           0.4      Iris-setosa
17    18            5.1           3.5            1.4           0.3      Iris-setosa
18    19            5.7           3.8            1.7           0.3      Iris-setosa
19    20            5.1           3.8            1.5           0.3      Iris-setosa
20    21            5.4           3.4            1.7           0.2      Iris-setosa
21    22            5.1           3.7            1.5           0.4      Iris-setosa
22    23            4.6           3.6            1.0           0.2      Iris-setosa
23    24            5.1           3.3            1.7           0.5      Iris-setosa
24    25            4.8           3.4            1.9           0.2      Iris-setosa
25    26            5.0           3.0            1.6           0.2      Iris-setosa
26    27            5.0           3.4            1.6           0.4      Iris-setosa
27    28            5.2           3.5            1.5           0.2      Iris-setosa
28    29            5.2           3.4            1.4           0.2      Iris-setosa
29    30            4.7           3.2            1.6           0.2      Iris-setosa
30    31            4.8           3.1            1.6           0.2      Iris-setosa
31    32            5.4           3.4            1.5           0.4      Iris-setosa
32    33            5.2           4.1            1.5           0.1      Iris-setosa
33    34            5.5           4.2            1.4           0.2      Iris-setosa
34    35            4.9           3.1            1.5           0.1      Iris-setosa
35    36            5.0           3.2            1.2           0.2      Iris-setosa
36    37            5.5           3.5            1.3           0.2      Iris-setosa
37    38            4.9           3.1            1.5           0.1      Iris-setosa
38    39            4.4           3.0            1.3           0.2      Iris-setosa
39    40            5.1           3.4            1.5           0.2      Iris-setosa
40    41            5.0           3.5            1.3           0.3      Iris-setosa
41    42            4.5           2.3            1.3           0.3      Iris-setosa
42    43            4.4           3.2            1.3           0.2      Iris-setosa
43    44            5.0           3.5            1.6           0.6      Iris-setosa
44    45            5.1           3.8            1.9           0.4      Iris-setosa
45    46            4.8           3.0            1.4           0.3      Iris-setosa
46    47            5.1           3.8            1.6           0.2      Iris-setosa
47    48            4.6           3.2            1.4           0.2      Iris-setosa
48    49            5.3           3.7            1.5           0.2      Iris-setosa
49    50            5.0           3.3            1.4           0.2      Iris-setosa
50    51            7.0           3.2            4.7           1.4  Iris-versicolor
51    52            6.4           3.2            4.5           1.5  Iris-versicolor
52    53            6.9           3.1            4.9           1.5  Iris-versicolor
53    54            5.5           2.3            4.0           1.3  Iris-versicolor
54    55            6.5           2.8            4.6           1.5  Iris-versicolor
55    56            5.7           2.8            4.5           1.3  Iris-versicolor
56    57            6.3           3.3            4.7           1.6  Iris-versicolor
57    58            4.9           2.4            3.3           1.0  Iris-versicolor
58    59            6.6           2.9            4.6           1.3  Iris-versicolor
59    60            5.2           2.7            3.9           1.4  Iris-versicolor
60    61            5.0           2.0            3.5           1.0  Iris-versicolor
61    62            5.9           3.0            4.2           1.5  Iris-versicolor
62    63            6.0           2.2            4.0           1.0  Iris-versicolor
63    64            6.1           2.9            4.7           1.4  Iris-versicolor
64    65            5.6           2.9            3.6           1.3  Iris-versicolor
65    66            6.7           3.1            4.4           1.4  Iris-versicolor
66    67            5.6           3.0            4.5           1.5  Iris-versicolor
67    68            5.8           2.7            4.1           1.0  Iris-versicolor
68    69            6.2           2.2            4.5           1.5  Iris-versicolor
69    70            5.6           2.5            3.9           1.1  Iris-versicolor
70    71            5.9           3.2            4.8           1.8  Iris-versicolor
71    72            6.1           2.8            4.0           1.3  Iris-versicolor
72    73            6.3           2.5            4.9           1.5  Iris-versicolor
73    74            6.1           2.8            4.7           1.2  Iris-versicolor
74    75            6.4           2.9            4.3           1.3  Iris-versicolor
75    76            6.6           3.0            4.4           1.4  Iris-versicolor
76    77            6.8           2.8            4.8           1.4  Iris-versicolor
77    78            6.7           3.0            5.0           1.7  Iris-versicolor
78    79            6.0           2.9            4.5           1.5  Iris-versicolor
79    80            5.7           2.6            3.5           1.0  Iris-versicolor
80    81            5.5           2.4            3.8           1.1  Iris-versicolor
81    82            5.5           2.4            3.7           1.0  Iris-versicolor
82    83            5.8           2.7            3.9           1.2  Iris-versicolor
83    84            6.0           2.7            5.1           1.6  Iris-versicolor
84    85            5.4           3.0            4.5           1.5  Iris-versicolor
85    86            6.0           3.4            4.5           1.6  Iris-versicolor
86    87            6.7           3.1            4.7           1.5  Iris-versicolor
87    88            6.3           2.3            4.4           1.3  Iris-versicolor
88    89            5.6           3.0            4.1           1.3  Iris-versicolor
89    90            5.5           2.5            4.0           1.3  Iris-versicolor
90    91            5.5           2.6            4.4           1.2  Iris-versicolor
91    92            6.1           3.0            4.6           1.4  Iris-versicolor
92    93            5.8           2.6            4.0           1.2  Iris-versicolor
93    94            5.0           2.3            3.3           1.0  Iris-versicolor
94    95            5.6           2.7            4.2           1.3  Iris-versicolor
95    96            5.7           3.0            4.2           1.2  Iris-versicolor
96    97            5.7           2.9            4.2           1.3  Iris-versicolor
97    98            6.2           2.9            4.3           1.3  Iris-versicolor
98    99            5.1           2.5            3.0           1.1  Iris-versicolor
99   100            5.7           2.8            4.1           1.3  Iris-versicolor
100  101            6.3           3.3            6.0           2.5   Iris-virginica
101  102            5.8           2.7            5.1           1.9   Iris-virginica
102  103            7.1           3.0            5.9           2.1   Iris-virginica
103  104            6.3           2.9            5.6           1.8   Iris-virginica
104  105            6.5           3.0            5.8           2.2   Iris-virginica
105  106            7.6           3.0            6.6           2.1   Iris-virginica
106  107            4.9           2.5            4.5           1.7   Iris-virginica
107  108            7.3           2.9            6.3           1.8   Iris-virginica
108  109            6.7           2.5            5.8           1.8   Iris-virginica
109  110            7.2           3.6            6.1           2.5   Iris-virginica
110  111            6.5           3.2            5.1           2.0   Iris-virginica
111  112            6.4           2.7            5.3           1.9   Iris-virginica
112  113            6.8           3.0            5.5           2.1   Iris-virginica
113  114            5.7           2.5            5.0           2.0   Iris-virginica
114  115            5.8           2.8            5.1           2.4   Iris-virginica
115  116            6.4           3.2            5.3           2.3   Iris-virginica
116  117            6.5           3.0            5.5           1.8   Iris-virginica
117  118            7.7           3.8            6.7           2.2   Iris-virginica
118  119            7.7           2.6            6.9           2.3   Iris-virginica
119  120            6.0           2.2            5.0           1.5   Iris-virginica
120  121            6.9           3.2            5.7           2.3   Iris-virginica
121  122            5.6           2.8            4.9           2.0   Iris-virginica
122  123            7.7           2.8            6.7           2.0   Iris-virginica
123  124            6.3           2.7            4.9           1.8   Iris-virginica
124  125            6.7           3.3            5.7           2.1   Iris-virginica
125  126            7.2           3.2            6.0           1.8   Iris-virginica
126  127            6.2           2.8            4.8           1.8   Iris-virginica
127  128            6.1           3.0            4.9           1.8   Iris-virginica
128  129            6.4           2.8            5.6           2.1   Iris-virginica
129  130            7.2           3.0            5.8           1.6   Iris-virginica
130  131            7.4           2.8            6.1           1.9   Iris-virginica
131  132            7.9           3.8            6.4           2.0   Iris-virginica
132  133            6.4           2.8            5.6           2.2   Iris-virginica
133  134            6.3           2.8            5.1           1.5   Iris-virginica
134  135            6.1           2.6            5.6           1.4   Iris-virginica
135  136            7.7           3.0            6.1           2.3   Iris-virginica
136  137            6.3           3.4            5.6           2.4   Iris-virginica
137  138            6.4           3.1            5.5           1.8   Iris-virginica
138  139            6.0           3.0            4.8           1.8   Iris-virginica
139  140            6.9           3.1            5.4           2.1   Iris-virginica
140  141            6.7           3.1            5.6           2.4   Iris-virginica
141  142            6.9           3.1            5.1           2.3   Iris-virginica
142  143            5.8           2.7            5.1           1.9   Iris-virginica
143  144            6.8           3.2            5.9           2.3   Iris-virginica
144  145            6.7           3.3            5.7           2.5   Iris-virginica
145  146            6.7           3.0            5.2           2.3   Iris-virginica
146  147            6.3           2.5            5.0           1.9   Iris-virginica
147  148            6.5           3.0            5.2           2.0   Iris-virginica
148  149            6.2           3.4            5.4           2.3   Iris-virginica
149  150            5.9           3.0            5.1           1.8   Iris-virginica

**Note: If you want to Print entire dataset, use to_string() method to print entire dataset**

### Max - Rows

In [64]:
pd.options.display.max_rows

60

In [65]:
pd.options.display.max_columns

20

In [66]:
import pandas as pd

In [67]:
pd.options.display.min_rows = 100

df = pd.read_csv('Iris.csv')
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
5      6            5.4           3.9            1.7           0.4
6      7            4.6           3.4            1.4           0.3
7      8            5.0           3.4            1.5           0.2
8      9            4.4           2.9            1.4           0.2
9     10            4.9           3.1            1.5           0.1
10    11            5.4           3.7            1.5           0.2
11    12            4.8           3.4            1.6           0.2
12    13            4.8           3.0            1.4           0.1
13    14            4.3           3.0            1.1           0.1
14    15            5.8           4.0            1.2           0.2
15    16            5.7           4.4            1.5           0.4
16    17            5.4           3.9            1.3           0.4
17    18            5.1           3.5            1.4           0.3
18    19            5.7           3.8            1.7           0.3
19    20            5.1           3.8            1.5           0.3
20    21            5.4           3.4            1.7           0.2
21    22            5.1           3.7            1.5           0.4
22    23            4.6           3.6            1.0           0.2
23    24            5.1           3.3            1.7           0.5
24    25            4.8           3.4            1.9           0.2
25    26            5.0           3.0            1.6           0.2
26    27            5.0           3.4            1.6           0.4
27    28            5.2           3.5            1.5           0.2
28    29            5.2           3.4            1.4           0.2
29    30            4.7           3.2            1.6           0.2
..   ...            ...           ...            ...           ...
120  121            6.9           3.2            5.7           2.3
121  122            5.6           2.8            4.9           2.0
122  123            7.7           2.8            6.7           2.0
123  124            6.3           2.7            4.9           1.8
124  125            6.7           3.3            5.7           2.1
125  126            7.2           3.2            6.0           1.8
126  127            6.2           2.8            4.8           1.8
127  128            6.1           3.0            4.9           1.8
128  129            6.4           2.8            5.6           2.1
129  130            7.2           3.0            5.8           1.6
130  131            7.4           2.8            6.1           1.9
131  132            7.9           3.8            6.4           2.0
132  133            6.4           2.8            5.6           2.2
133  134            6.3           2.8            5.1           1.5
134  135            6.1           2.6            5.6           1.4
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
5       Iris-setosa
6       Iris-setosa
7       Iris-setosa
8       Iris-setosa
9       Iris-setosa
10      Iris-setosa
11      Iris-setosa
12      Iris-setosa
13      Iris-setosa
14      Iris-setosa
15      Iris-setosa
16      Iris-setosa
17      Iris-setosa
18      Iris-setosa
19      Iris-setosa
20      Iris-setosa
21      Iris-setosa
22      Iris-setosa
23      Iris-setosa
24      Iris-setosa
25      Iris-setosa
26      Iris-setosa
27      Iris-setosa
28      Iris-setosa
29      Iris-setosa
..              ...
120  Iris-virginica
121  Iris-virginica
122  Iris-virginica
123  Iris-virginica
124  Iris-virginica
125  Iris-virginica
126  Iris-virginica
127  Iris-virginica
128  Iris-virginica
129  Iris-virginica
130  Iris-virginica
131  Iris-virginica
132  Iris-virginica
133  Iris-virginica
134  Iris-virginica
135  Iris-virginica
136  Iris-virginica
137  Iris-virginica
138  Iris-virginica
139  Iris-virginica
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [69]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
5    False          False         False          False         False    False
6    False          False         False          False         False    False
7    False          False         False          False         False    False
8    False          False         False          False         False    False
9    False          False         False          False         False    False
10   False          False         False          False         False    False
11   False          False         False          False         False    False
12   False          False         False          False         False    False
13   False          False         False          False         False    False
14   False          False         False          False         False    False
15   False          False         False          False         False    False
16   False          False         False          False         False    False
17   False          False         False          False         False    False
18   False          False         False          False         False    False
19   False          False         False          False         False    False
20   False          False         False          False         False    False
21   False          False         False          False         False    False
22   False          False         False          False         False    False
23   False          False         False          False         False    False
24   False          False         False          False         False    False
25   False          False         False          False         False    False
26   False          False         False          False         False    False
27   False          False         False          False         False    False
28   False          False         False          False         False    False
29   False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
120  False          False         False          False         False    False
121  False          False         False          False         False    False
122  False          False         False          False         False    False
123  False          False         False          False         False    False
124  False          False         False          False         False    False
125  False          False         False          False         False    False
126  False          False         False          False         False    False
127  False          False         False          False         False    False
128  False          False         False          False         False    False
129  False          False         False          False         False    False
130  False          False         False          False         False    False
131  False          False         False          False         False    False
132  False          False         False          False         False    False
133  False          False         False          False         False    False
134  False          False         False          False         False    False
135  False          False         False          False         False    False
136  False          False         False          False         False    False
137  False          False         False          False         False    False
138  False          False         False          False         False    False
139  False          False         False          False         False    False
140  False          False         False          False         False    False
141  False          False         False          False         False    False
142  False          False         False          False         False    False
143  False          False         False          False         False    False
144  False          False         False          False         False    False
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [70]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [71]:
df = pd.read_csv('Iris.csv')

In [72]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [74]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [75]:
df = pd.read_csv('machine-readable-business-employment-data-mar-2024-quarter.csv')

In [76]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [77]:
df.isnull()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,False,False,False,True,False,False,False,False,False,False,False,False,True,True
1,False,False,False,True,False,False,False,False,False,False,False,False,True,True
2,False,False,False,True,False,False,False,False,False,False,False,False,True,True
3,False,False,False,True,False,False,False,False,False,False,False,False,True,True
4,False,False,False,True,False,False,False,False,False,False,False,False,True,True
5,False,False,False,True,False,False,False,False,False,False,False,False,True,True
6,False,False,False,True,False,False,False,False,False,False,False,False,True,True
7,False,False,False,True,False,False,False,False,False,False,False,False,True,True
8,False,False,False,True,False,False,False,False,False,False,False,False,True,True
9,False,False,False,True,False,False,False,False,False,False,False,False,True,True
10,False,False,False,True,False,False,False,False,False,False,False,False,True,True
11,False,False,False,True,False,False,False,False,False,False,False,False,True,True
12,False,False,False,True,False,False,False,False,False,False,False,False,True,True
13,False,False,False,True,False,False,False,False,False,False,False,False,True,True
14,False,False,False,True,False,False,False,False,False,False,False,False,True,True
15,False,False,False,True,False,False,False,False,False,False,False,False,True,True
16,False,False,False,True,False,False,False,False,False,False,False,False,True,True
17,False,False,False,True,False,False,False,False,False,False,False,False,True,True
18,False,False,False,True,False,False,False,False,False,False,False,False,True,True
19,False,False,False,True,False,False,False,False,False,False,False,False,True,True
20,False,False,False,True,False,False,False,False,False,False,False,False,True,True
21,False,False,False,True,False,False,False,False,False,False,False,False,True,True
22,False,False,False,True,False,False,False,False,False,False,False,False,True,True
23,False,False,False,True,False,False,False,False,False,False,False,False,True,True
24,False,False,False,True,False,False,False,False,False,False,False,False,True,True
25,False,False,False,True,False,False,False,False,False,False,False,False,True,True
26,False,False,False,True,False,False,False,False,False,False,False,False,True,True
27,False,False,False,True,False,False,False,False,False,False,False,False,True,True
28,False,False,False,True,False,False,False,False,False,False,False,False,True,True
29,False,False,False,True,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22933,False,False,False,True,False,False,False,False,False,False,False,False,True,True
22934,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22935,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22936,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22937,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22938,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22939,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22940,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22941,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22942,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22943,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22944,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22945,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22946,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22947,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22948,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22949,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22950,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22951,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22952,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22953,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22954,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22955,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22956,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22957,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22958,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22959,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22960,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22961,False,False,True,False,False,False,False,False,False,False,False,False,True,True
22962,False,False,True,False,False,False,False,False,False,False,False,False,True,True

In [78]:
df.isnull().sum()

Series_reference        0
Period                  0
Data_value           2839
Suppressed          20124
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2          0
Series_title_3          0
Series_title_4      22963
Series_title_5      22963
dtype: int64

In [79]:
df.notnull()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,True,True,True,False,True,True,True,True,True,True,True,True,False,False
1,True,True,True,False,True,True,True,True,True,True,True,True,False,False
2,True,True,True,False,True,True,True,True,True,True,True,True,False,False
3,True,True,True,False,True,True,True,True,True,True,True,True,False,False
4,True,True,True,False,True,True,True,True,True,True,True,True,False,False
5,True,True,True,False,True,True,True,True,True,True,True,True,False,False
6,True,True,True,False,True,True,True,True,True,True,True,True,False,False
7,True,True,True,False,True,True,True,True,True,True,True,True,False,False
8,True,True,True,False,True,True,True,True,True,True,True,True,False,False
9,True,True,True,False,True,True,True,True,True,True,True,True,False,False
10,True,True,True,False,True,True,True,True,True,True,True,True,False,False
11,True,True,True,False,True,True,True,True,True,True,True,True,False,False
12,True,True,True,False,True,True,True,True,True,True,True,True,False,False
13,True,True,True,False,True,True,True,True,True,True,True,True,False,False
14,True,True,True,False,True,True,True,True,True,True,True,True,False,False
15,True,True,True,False,True,True,True,True,True,True,True,True,False,False
16,True,True,True,False,True,True,True,True,True,True,True,True,False,False
17,True,True,True,False,True,True,True,True,True,True,True,True,False,False
18,True,True,True,False,True,True,True,True,True,True,True,True,False,False
19,True,True,True,False,True,True,True,True,True,True,True,True,False,False
20,True,True,True,False,True,True,True,True,True,True,True,True,False,False
21,True,True,True,False,True,True,True,True,True,True,True,True,False,False
22,True,True,True,False,True,True,True,True,True,True,True,True,False,False
23,True,True,True,False,True,True,True,True,True,True,True,True,False,False
24,True,True,True,False,True,True,True,True,True,True,True,True,False,False
25,True,True,True,False,True,True,True,True,True,True,True,True,False,False
26,True,True,True,False,True,True,True,True,True,True,True,True,False,False
27,True,True,True,False,True,True,True,True,True,True,True,True,False,False
28,True,True,True,False,True,True,True,True,True,True,True,True,False,False
29,True,True,True,False,True,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22933,True,True,True,False,True,True,True,True,True,True,True,True,False,False
22934,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22935,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22936,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22937,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22938,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22939,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22940,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22941,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22942,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22943,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22944,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22945,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22946,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22947,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22948,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22949,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22950,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22951,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22952,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22953,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22954,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22955,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22956,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22957,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22958,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22959,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22960,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22961,True,True,False,True,True,True,True,True,True,True,True,True,False,False
22962,True,True,False,True,True,True,True,True,True,True,True,True,False,False

In [84]:
df.notnull().sum()

Series_reference    22963
Period              22963
Data_value          20124
Suppressed           2839
STATUS              22963
UNITS               22963
Magnitude           22963
Subject             22963
Group               22963
Series_title_1      22963
Series_title_2      22963
Series_title_3      22963
Series_title_4          0
Series_title_5          0
dtype: int64

In [81]:
import seaborn as sns

In [85]:
# sns.heatmap(df)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22963 entries, 0 to 22962
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  22963 non-null  object
 1   Period            22963 non-null  float64
 2   Data_value        20124 non-null  float64
 3   Suppressed        2839 non-null   object
 4   STATUS            22963 non-null  object
 5   UNITS             22963 non-null  object
 6   Magnitude         22963 non-null  int64
 7   Subject           22963 non-null  object
 8   Group             22963 non-null  object
 9   Series_title_1    22963 non-null  object
 10  Series_title_2    22963 non-null  object
 11  Series_title_3    22963 non-null  object
 12  Series_title_4    0 non-null      float64
 13  Series_title_5    0 non-null      float64
dtypes: float64(4), int64(1), object(9)
memory usage: 2.5+ MB